---
layout: default
title: Sheet music in musescore format

---

{% capture category_names %}
{% for page in site.pages %}
{{page.categories}}
{%endfor%}
{% endcapture %}
{{ category_names | split: " " | sort| uniq }}

<h1>{{ page.title }}</h1>

<div id="archives">
    {% for category in category_names %}
        <div class="archive-group">
            <h3 class="category-head">{{ category }}</h3>
            <ul>
                {% for song in site.html_pages  %}
                    {% if song.categories contains category %}
                        {% assign basename = song.title | replace: " ", "_" %}
                        <li><a href="{{ basename }}/index.html?{{ basename }}">{{ song.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    {% endfor %}
</div>

<h2>All incluseive</h2>

<ul>
    {% assign indexpages = site.html_pages %}
    {% for song in site.html_pages  %}
        {% if song.tags contains "AllInclusive" %}
            {% assign basename = song.title | replace: " ", "_" %}
            <li><a href="{{ basename }}/index.html?{{ basename }}">{{ song.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
