---
layout: default
title: Sheet music in musescore format 2

---

{% assign categories_grouped = site.pages | group_by: 'categories' %}

<h1>{{ page.title }}</h1>

<div id="archives">

    {% for category in categories_grouped %}
        <h3>{{ category.name }}</h3>
        {% assign tags_grouped = site.pages | where: "categories", category.name | group_by: 'tags' %}
        {% for tag in tags_grouped %}
            <h5>{{ tag.name }}</h3>
            <ul class="container float">
            {% for item in tag.items %}
            {% assign basename = item.title | replace: " ", "_" %}
                <li class="item">
                    <a href="{{ basename }}/index.html?{{ basename }}">
                        <p>{{ item.title }}</p>
                        <img src="{{ item.tumbnail }}" alt="tumbnail">
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
</div>