---
layout: default
title: Valborgskonsert
songs:
- name: Vintern ra
  url: 'Längtan_till_landet/Längtan_till_landet2'
  responsible: Elisabeth

- name: Glad sås
  responsible: Ingrid

- name: Vårvindar friska
  responsible: Elisabeth

- name: Vårliga vindar
  responsible: Jerker

- name: Under rönn och syrén
  responsible: Anna

- name: Sköna maj
  responsible: Malin

- name: Uti vår hage
  responsible: Torun 

- name: Studentsången
  url: 'Studentsång/Studentsång'
  responsible: Jerker

---

{% for song in page.songs %}
  <h1>{{ song.name }}</h1>
{% endfor %}

{% for file in site.staticfiles %}
  {{ file.path }}
  {{ file.name }}

{% endfor %}