<div id="btns">
    <form id="voice" action="">
        <label for="voice">Voice</label>
        <select name="voice" id="voice_select">
            <option value="{{page.basename}}.mp3" selected>Tutti</option>
            {% for p in page.parts %}
            <option value="{{page.basename}}-{{ p }}.mp3">{{ p }}</option>
            {% endfor %}
        </select>
    </form>
    <audio id="aud" controls="controls">Your browser does not support the audio element.</audio>
    <script>
        var e = document.getElementById("voice_select");
        function onChange() {
            var a = document.getElementById("aud")
            a.src = e.value;
        }
        e.onchange = onChange;
        onChange();
    </script>
    <form id="spdlbl">
        <label for="speed">Speed</label>
        <input id="speed" type="number" value="1.0" min="0.1" step="0.05" max="4.0">
    </form>
    <a href="{{page.basename}}.pdf">PDF</a>
    <a href="{{page.basename}}.mscz">MSCZ</a>
    <div class="dropdown">
        <button class="dropbtn">PDF files</button>
        <div class="dropdown-content">
            <a href="{{page.basename}}.pdf">Tutti</a>
            {% for p in page.parts %}
            <a href="{{page.basename}}-{{ p }}.pdf">{{ p }}</a>
            {% endfor %}
        </div>
      </div>
</div>
<div id="notation"></div>
