---
layout: default
title: Everybody Wants to Be a Cat
basename: Everybody_Wants_to_Be_a_Cat
parts:
  - Voice
  - Soprano
  - Mezzo-soprano
  - Alto
  - Baritone
  - Bass

---
{% include base.html %}


<div class="media-scroller">
{% for i in (1..10) %}
{% assign sheetnumber = i | prepend: '0' | slice: -2, 2 %}
  <img class="media-element" src="{{page.basename}}-{{ sheetnumber }}.svg" alt="{{page.basename}}-{{ sheetnumber }}">
{% endfor %}
</div>

<h2>Playable score</h2>
<iframe src="{{ base }}/xmlplay.html?Everybody_Wants_to_Be_a_Cat/Everybody_Wants_to_Be_a_Cat.xml" title="Everybody_Wants_to_Be_a_Cat">
</iframe>

<h2>Part files</h2>

{% for p in page.parts %}
<h3>{{ p }}</h3>
<a href="{{page.basename}}-{{ p }}-1.svg">note part</a>
<audio controls>
  <source src="{{page.basename}}-{{ p }}.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
{% endfor %}

<h2>Test</h2>
<a href="mscweb.html?dpi=360&Everybody_Wants_to_Be_a_Cat">Everybody_Wants_to_Be_a_Cat</a>
Site.url: {{ site.url }}



