.media-scroller {
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element {
    padding: 5px;
    background-color: aliceblue;
    border-radius: 5px;
}

.media-element > img {
    margin-inline: auto;
    aspect-ratio: 4 / 3 ;
    object-fit: cover;

}
