#btns { 
    color: #ffffff;
    background-color: black;
    display: flex;
    align-items: center;

    a {
        color: white;
        margin-left: 1em;

        &:hover {
            color: blue;
        }
    }
}

#notation { 
    width: 100%;
    height: 90vh;
    overflow: auto;
    position: relative
}

form#voice,
#spdlbl { 
    display: inline; 
}

#speed { 
    width: 4em; 
}