#btns { 
    color: #ffffff;
    background-color: black;
    display: flex;
    align-items: center;

    a {
        color: white;
        margin-left: 1em;

        &:hover {
            color: cornflowerblue;
        }
    }
}

@media all and (orientention:portrait) {
    
    #notation { 
        width: 90vw;
        height: 100%;
        overflow: auto;
        position: relative
    }
}

@media all and (orientention:landscape) {
    
    #notation { 
        width: 100%;
        height: 90vh;
        overflow: auto;
        position: relative
    }
}

form#voice,
#spdlbl { 
    display: inline; 
}

#speed { 
    width: 4em; 
}