.rat { 
    width: 100%; 
    height:100%; 
    margin:0px; 
    overflow: auto; 
}

body { 
    -webkit-tap-highlight-color: transparent; 
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
}

html, body { 
    background: white; 
}   /* for full screen */

label, input, select, #mbar { 
    font-family: arial; 
    font-size: 15px; 
}

#btns     { 
    position: absolute; 
    right: 0px; 
    z-index:3; 
    max-height: 100%; 
    overflow-y: auto; 
}

#mbar     { 
    padding: 10px 4px 10px 4px; 
    text-align: right; 
    background-color: #eee; 
}

#mbar:hover, #playbk:hover { 
    cursor: pointer; 
}

#menu     { 
    background-color: #eee; 
    padding-left: 5px; 
    padding-right: 5px; 
    padding-bottom: 5px; 
}

#menu label { 
    display:block; 
    margin-bottom: 8px; 
}

#menu label > span { 
    display: inline-block; 
    width: 7.5em; 
}

#notation { 
    height: 95%; 
    display: inline-block; 
    vertical-align: top; 
}

#err      { 
    height:  5%; 
    background-color: #eee;
}

#err:hover { 
    height:  50%; 
    position:absolute; 
    top:50%; 
}

#rollijn  { 
    position:absolute; 
    height:30px; 
    width:100%; 
    z-index:1; 
    top: 30%; 
}

#rollijn:hover { 
    cursor: row-resize; 
    background: rgba(0,255,0,0.3); 
}

#tempo    { 
    width: 3em; 
}

#abcfile { 
    display: inline-block; 
}

#mtrsvg   { 
    vertical-align: middle; 
}

.dashed   { 
    border-bottom: thin dashed black; 
}

.spel     { 
    background: rgba(0,255,0,0.3); 
}

.dlog     { 
    display:none; 
    background:lightblue; 
    position:absolute; 
    top: 50%; 
    left: 50%; 
    width:60%; 
    padding:10px;
    transform: translate(-50%,-50%); 
    z-index:9; 
    overflow: auto; 
}

.indrag   { 
    background: #aaa; 
}

.rflt     { 
    float: right 
}