<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="{{ '/js/vendor/jquery-1.11.1.min.js' | relative_url }}"></script>
    <script src="{{ '/js/vendor/mscweb.js' | relative_url }}"></script>
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
  </head>
  <body>
    {{ content }}
  </body>
</html>